/* Common shared styles */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mulish:wght@200;300;400;500;600;700;800&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;

}


/* Common styles start */

.section-container {
    width: 82vw;
    margin: 50px auto;

}

h2 {
    color: #131318;
    font-weight: 800;
}

.title {
    color: #FF5400;
    font-size: 36px;
}

.primary-button {
    border-radius: 8px;
    background: #FF5400;
    border: none;
    width: 174px;
    height: 52px;
    color: #FFF;
    font-size: 1.25rem;
}

.mid-button {
    display: flex;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
}

.h3-text {
    color: #131318;
    font-size: 2.5rem;
    margin-bottom: 24px;

}

h4 {
    color: #131318;
    font-size: 1.5rem;
    margin-bottom: 16px;

}

.common-p {

    color: #5A5A5D;
    line-height: 26px;
    padding-bottom: 16px;

}

.price-p {
    color: #FF5400;
    font-family: Mulish;
    font-size: 1.25rem;
    padding-bottom: 24px;
    font-weight: 800;
}

/* Common styles end */


/* Navigation styles start */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-container h2 {
    font-size: 36px;
    margin-left: 16px;
}

.nav-container ul {
    display: flex;
    gap: 20px;
}

.nav-container li {
    list-style: none;

}

.nav-container a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
}

.nav-container .nav-home {
    color: #FF5400;
    font-family: Mulish;
}

/* heading style start */

.heading-container {
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
    height: 500px;
    border-radius: 16px;
    margin-top: 50px;
    text-align: center;
    background-repeat: no-repeat;
}

.heading-container h1 {
    color: #FFF;
    font-size: 64px;
    padding-top: 100px;
    font-weight: 800;
}

.heading-container p {
    color: #FFF;
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;
}

.form-container {
    display: inline-flex;
    justify-content: center;
    border-radius: 8px;
    gap: 20px;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 48px;
    padding: 16px;

}



.form-container .input-text {
    border-radius: 8px;
    background: #FFF;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    color: rgba(19, 19, 24, 0.50);
}

.form-container .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    gap: 8px;
}

.form-container .form-button {
    background: #FF5400;
    border: none;
    color: #FFF;
    font-size: 16px;
}

/* heading style end */

/* populer tours style start */

.populer-tours {
    display: flex;
    gap: 50px;
    text-align: justify;
}

.populer-tours .tour-text h3 {
    color: #131318;
    font-size: 2.5rem;
    margin-bottom: 24px;
}

.populer-tours .tour-text p {

    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
}

.populer-tours .tour-text ul li {
    padding-bottom: 16px;
    margin-left: 15px;
    color: rgba(19, 19, 24, 0.70);
    line-height: 26px;
}

.populer-tours .tour-text .tours-description {
    color: #5A5A5D;
    font-size: 16px;
    line-height: 26px;
}


/* populer tours style End */


/* your-destination styles start */

.your-destination .your-destination-text {
    text-align: center;
    margin-bottom: 50px;
}

.your-destination .your-destination-tex p {

    color: rgba(19, 19, 24, 0.70);
    line-height: 26px;
}

.your-destination-img {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 3, 1fr;
}

.img-1 {
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}

.img-2 {
    grid-column: 7/span 6;
    grid-row: 1/span 1;
}

.img-3 {

    grid-column: 1/span 4;
    grid-row: 2/span 2;
}

.img-4 {

    grid-column: 5/span 5;
    grid-row: 2/span 2;
}

.img-5 {

    grid-column: 10/span 3;
    grid-row: 2/span 2;
}

.img-6 {

    grid-column: 1/span 5;
}

.img-7 {
    grid-column: 6/span 7;
}


/* your-destination styles end */


/* Why Choose section start  */

.service-text {

    text-align: center;
}

.service-text p {
    color: rgba(19, 19, 24, 0.70);
}

.our-services {
    display: flex;
    gap: 25px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: justify;
}

.our-services .hotels {
    border-radius: 16px;
    padding: 35px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);

}

.our-services .world-class-service {
    border-radius: 16px;
    padding: 35px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.facility-container .price {


    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 50%;
    margin: auto;
    padding: 35px;
}

/* Why Choose section end  */


/* Deals & Discounts styles start */

.discount-text {
    text-align: center;
}

.discount-text p {
    width: 60vw;
    margin: 30px auto;
    color: rgba(19, 19, 24, 0.70);
    line-height: 26px;
}

.tour-to-maldive {
    background: lightgray 50% / cover no-repeat;
    background-image: url(../Images/Rectangle\ 12.png);
    background-size: cover;
    height: 500px;
    border-radius: 16px;
    position: relative;
}

.tour-to-maldive-text {
    display: flex;
    gap: 10px;
    padding-bottom: 20px;

}

.maldive-text {

    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 579px;
    padding: 50px;
    position: absolute;
    right: 50px;
    bottom: 8vh;
}



.indonesia-img {

    background: lightgray 50% / cover no-repeat;
    background-image: url(../Images/Indonesia.png);
    background-size: cover;
    height: 500px;
    border-radius: 16px;
    position: relative;

}

.indonesia-offer {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 579px;
    padding: 50px;
    position: absolute;
    left: 50px;
    bottom: 8vh;
}


/* perfect place start */

.perfect-place {
    display: flex;
    justify-content: space-between;
    gap: 25px;

}

.perfect-video video {
    border-radius: 16px;
    width: 40vw;
}



.perfect-text ul li {
    padding-bottom: 16px;
    margin-left: 15px;
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;

}

/* Perfect Place end */


/* newsletter-container start */
.newsletter-container {

    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 100px;
}

.newsletter-text {
    border-radius: 16px;
    border: 1px solid #FF5400;
    background: #FFF;
    padding: 40px;


}

.newsletter-text label input {

    border-radius: 8px;
    border: none;
    background: rgba(19, 19, 24, 0.05);
    width: 393px;
    height: 52px;
    padding-left: 20px;
    margin-top: 16px;
}

.newsletter-text label button {

    width: 393px;
    margin-top: 24px;
}


/* newsletter-container end */

/* footer styles start */

footer {
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    padding: 100px 200px;
}

footer h2 {
    color: #131318;
    font-size: 32px;
    padding: 15px;
}

.footer-icon img {
    padding-right: 20px;
    padding-top: 30px;
}

.footer-p {
    color: #131318;
    font-family: Inter;
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 30px;
}

footer hr {
    background: rgba(19, 19, 24, 0.10);
    height: 1px;
    margin: 50px;
    margin-left: 5%;
    margin-right: 5%;

}

/* footer styles end */






/* responsive styles */

/* heading start */

@media screen and (max-width: 600px) {

    .your-destination-img {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 1fr);

    }

    .your-destination {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .destination-img img {

        width: 80vw;
        height: 300px;
        margin: 0 auto;
        object-fit: cover;
        border-radius: 16px;
    }


    .img-7 {
        padding: 0;
        margin: 0;
        height: 300px;
    }

    .img-7 img {
        height: 300px;

        margin-bottom: 0;
        padding-bottom: 0;
    }





    .img-1 {

        grid-column: 1/span 1;
        grid-row: 1/span 1;
    }

    .img-2 {
        grid-column: 1/span 1;
        grid-row: 2/span 2;

    }

    .img-3 {
        grid-column: 1/span 1;
        grid-row: 3/span 3;

    }

    .img-4 {
        grid-column: 1/span 1;
        grid-row: 4/span 4;

    }

    .img-5 {
        grid-column: 1/span 1;
        grid-row: 5/span 5;

    }

    .img-6 {
        grid-column: 1/span 1;
        grid-row: 6/span 6;

    }

    .img-7 {
        grid-column: 1/span 1;
        grid-row: 7/span 7;

    }

    .nav-container,
    .populer-tours {
        flex-direction: column;
    }

    .nav-container ul {
        flex-direction: column;
    }

    .heading-container {
        height: auto;
    }

    .form-container {
        flex-direction: column;
    }

    .form-container .button {
        padding: 10px;

    }

    .form-container {
        margin-bottom: 50px;
    }

    .heading-container {
        background-position-x: center;
    }

    /* heading  end */

    /* populer-tours start */
    .populer-tours .tour-img img {
        width: 100%
    }


    /* populer-tours end */


    /* Why Choose section start  */

    .our-services {
        flex-direction: column;
    }

    .facility-container .price {
        width: 82vw;
    }

    /* Why Choose section end  */

    /* Deals & Discounts styles start */


    .tour-to-maldive-text {

        gap: 5px;
        padding-bottom: 5px;

    }

    .maldive-text {

        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2.5px);
        width: 90%;
        padding: 15px;
        position: absolute;
        right: 5%;
        bottom: 5%;

    }

    .indonesia-offer {
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2.5px);
        width: 90%;
        padding: 15px;
        position: absolute;
        left: 5%;
        bottom: 5%;
    }

    h4 {
        color: #131318;
        font-size: 1.5rem;
        margin-bottom: 5px;

    }

    .common-p {

        color: #5A5A5D;
        line-height: 26px;
        padding-bottom: 5px;

    }

    .price-p {
        color: #FF5400;
        font-family: Mulish;
        font-size: 1.25rem;
        padding-bottom: 5px;
        font-weight: 800;
    }

    .mid-button button {
        display: none;
    }

    /* perfect place start */

    .perfect-place,
    .newsletter-container {
        flex-direction: column;
    }

    .perfect-video video {
        border-radius: 16px;
        width: 80vw;
    }

    /* newsletter-container start */
    .newsletter-container .newsletter-img img {
        width: 80vw;

    }

    .newsletter-text label button {

        width: 60vw;

    }

    .newsletter-text label input {
        /* margin-left: 10%;
        margin-right: 10%; */
        width: 60vw;
    }

    /* newsletter-container end */


    footer {
        background: rgba(19, 19, 24, 0.05);
        text-align: center;
        padding: 30px 45px;
    }


}