/* Common shared styles */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mulish:wght@200;300;400;500;600;700;800&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;

}


/* Common styles start */

.section-container {
    width: 82vw;
    margin: 50px auto;

}

h2 {
    color: #131318;
    font-weight: 800;
}

.title {
    color: #FF5400;
    font-size: 36px;
}

.primary-button {
    border-radius: 8px;
    background: #FF5400;
    border: none;
    width: 174px;
    height: 52px;
    color: #FFF;
    font-size: 1.25rem;
}


/* Common styles end */


/* Navigation styles start */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-container h2 {
    font-size: 36px;
    margin-left: 16px;
}

.nav-container ul {
    display: flex;
    gap: 20px;
}

.nav-container li {
    list-style: none;

}

.nav-container a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
}

.nav-container .nav-home {
    color: #FF5400;
    font-family: Mulish;
}

/* heading style start */

.heading-container {
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
    height: 500px;
    border-radius: 16px;
    margin-top: 50px;
    text-align: center;
    background-repeat: no-repeat;
}

.heading-container h1 {
    color: #FFF;
    font-size: 64px;
    padding-top: 100px;
    font-weight: 800;
}

.heading-container p {
    color: #FFF;
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;
}

.form-container {
    display: inline-flex;
    justify-content: center;
    border-radius: 8px;
    gap: 20px;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 48px;
    padding: 16px;

}



.form-container .input-text {
    border-radius: 8px;
    background: #FFF;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    color: rgba(19, 19, 24, 0.50);
}

.form-container .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    gap: 8px;
}

.form-container .form-button {
    background: #FF5400;
    border: none;
    color: #FFF;
    font-size: 16px;
}

/* heading style end */

/* populer tours style start */

.populer-tours {
    display: flex;
    gap: 50px;
    text-align: justify;
}

.populer-tours .tour-text h3 {
    color: #131318;
    font-size: 2.5rem;
    margin-bottom: 24px;
}

.populer-tours .tour-text p {

    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
}

.populer-tours .tour-text ul li {
    padding-bottom: 16px;
    margin-left: 15px;
    color: rgba(19, 19, 24, 0.70);
    line-height: 26px;
}

.populer-tours .tour-text .tours-description {
    color: #5A5A5D;
    font-size: 16px;
    line-height: 26px;
}

.populer-tours .tour-img img{
    width: 100%  
}

/* populer tours style End */











/* responsive styles */

/* heading start */

@media screen and (max-width: 600px) {
    .nav-container, .populer-tours {
        flex-direction: column;
    }

    .nav-container ul {
        flex-direction: column;
    }

    .heading-container {
        height: auto;
    }

    .form-container {
        flex-direction: column;
    }

    .form-container .button {
        padding: 10px;

    }

    .form-container {
        margin-bottom: 50px;
    }

    .heading-container {
        background-position-x: center;
    }

    /* heading  end */




}